@model Users

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<table class="nk-table">
    <thead>
        <tr>
            <th colspan="3">Admin Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>You Are Logged in as Admin:</th>
            <th>Would you like to:</th>
        </tr>
        <tr>
            <td>@Model.Username</td>
            <td><a class="btn btn-outline-primary" asp-action="CreateAdmin">Create an Admin</a></td>
        </tr>
    </tbody>
</table>
<table class="nk-table">
    <thead>
        <tr>
            <th colspan="3">Users</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Username:</th>
            <th>Password:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Email:</th>
        </tr>
        <tr>
            @Html.Action("GetUsers")
        </tr>
    </tbody>
</table>