@model Users

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>

<!--Removes footer and second backgroun from page-->
<style type="text/css">
    .error {
        color: red;
    }

    .nk-page-background-bottom {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<body>
    <div class="form-container mx-auto mt-100">

        <h4 class="my-2"><span class="text-main-1">Create</span> Account</h4>
        @if (Model != null)
        {
            <span class="error">@Model.ErrorMessage</span>
        }
        <div class="nk-gap-1"></div>
        <form asp-action="Validate" asp-controller="Users" method="post" class="nk-form text-white">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <label for="firstname">First Name:</label>
                    <input type="text" value="" name="firstname" asp-for="FirstName" class="form-control">
                </div>

                <div class="col-lg-6 col-sm-12">
                    <label for="lastname">Last Name:</label>
                    <input type="text" value="" name="lastname" asp-for="LastName" class="required form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <label for="username">Username:</label>
                    <input type="text" value="" name="username" asp-for="Username" class="form-control">
                </div>

                <div class="col-lg-6 col-sm-12">
                    <label for="password">Password:</label>
                    <input type="password" value="" name="password" asp-for="Password" class="required form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="emailaddress">Email:</label>
                    <input type="text" value="" name="emailaddress" asp-for="EmailAddress" class="required form-control">
                </div>
            </div>

            <div class="row vertical-gap">
                <div class="col-12 mb-10">
                    <button class="btn btn-outline-primary" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>
</body>
