@model Users

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<style type="text/css">
    .error {
        color: red;
    }

    .nk-page-background-bottom {
        display: none;
    }

    footer {
        display: none;
    }
</style>
<body class="Create-User">
    <div class="flex-container">
        <div class="content-container">
                <h4 class="mb-0"><span class="text-main-1">Create an Account</span></h4>

                <div class="nk-gap-1"></div>
                <form asp-action="CreateUser" asp-controller="Users" method="post" class="nk-form text-white">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            First Name:
                            <div class="nk-gap"></div>
                            <input type="text" value="" name="firstname" asp-for="FirstName" class="form-control" placeholder="First Name">

                            Last Name:
                            <input type="text" value="" name="lastname" asp-for="LastName" class="required form-control" placeholder="Last Name">

                            Username:
                            <div class="nk-gap"></div>
                            <input type="text" value="" name="username" asp-for="Username" class="form-control" placeholder="Username">

                            Password:
                            <div class="nk-gap"></div>
                            <input type="password" value="" name="password" asp-for="Password" class="required form-control" placeholder="Password">

                            Email:
                            <div class="nk-gap"></div>
                            <input type="text" value="" name="emailaddress" asp-for="EmailAddress" class="required form-control" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" type="submit">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</body>
