@model Login

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<style type="text/css">
    .error{
        color: red;
    }
</style>
<body>
    <div class="flex-container">
        <div class="content-container">
            <div class="form-container">
                <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

                <div class="nk-gap-1"></div>
                <form asp-action="UserLogin" method="post" class="nk-form text-white">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            Username:

                            <div class="nk-gap"></div>
                            <input type="text" value="" name="username" asp-for="Username" class="form-control" placeholder="Username">
                            
                            Password:
                            <div class="nk-gap"></div>
                            <input type="password" value="" name="password" asp-for="Password" class="required form-control" placeholder="Password">
                        </div>
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" type="submit">Login</button>
                            <button class="nk-btn nk-btn-color-primary" asp-controller="Login" asp-action="Create">Create an Account</button>
                        <div class="col-md-6">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
