@model Login

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<style type="text/css">
    .error{
        color: red;
    }
</style>
<body>
    <div class="flex-container">
        <div class="content-container">
            <div class="form-container">
                <form method="post" asp-action="UserLogin">
                    <h1>
                        Login
                    </h1>
                    <br>
                    <br>
                    <span class="subtitle">USERNAME:</span>
                    <br>
                    <input type="text" name="username" value="" asp-for="Username" />
                    <br>
                    <span class="subtitle">PASSWORD:</span>
                    <br>
                    <input type="password" name="password" value="" asp-for="Password" />
                    <br><br>
                    <button class="btn btn-outline-primary" type="submit">Login</button>
                    <a class="btn btn-outline-secondary" asp-action="Create">Create an Account</a>
                </form>
            </div>
        </div>
    </div>
</body>
