@model Login

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="flex-container">
        <div class="content-container">
            <div class="form-container">
                <form action="/action_page.php">
                    <h1>
                        Login
                    </h1>
                    <br>
                    <br>
                    <span class="subtitle">USERNAME:</span>
                    <br>
                    <input type="text" name="username" value="">
                    <br>
                    <span class="subtitle">PASSWORD:</span>
                    <br>
                    <input type="password" name="password" value="">
                    <br><br>
                    <input type="submit" value="SUBMIT" class="submit-btn">
                </form>
            </div>
        </div>
    </div>
</body>
