@model Users

<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        <tr><td style="color:white;">@Model.FirstName</td></tr>
    </tbody>
</table>
