@model IEnumerable<Users>

<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td>User Login Failed</td></tr>
        }
        else
        {
            @foreach (var u in Model)
            {

            }
        }
    </tbody>
</table>
