<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FowlerSite</title>
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Parsley -->
    <link rel="stylesheet" href="~/assets/css/parsley.css">

    <!--PaperKit-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/paper-kit.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- FontAwesome -->
    <script defer src="~/assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="~/assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="~/assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="~/assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="~/assets/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="nk-header nk-header-opaque">
        <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
            <div class="container">
                <div class="nk-nav-table">

                <a href="index.html" class="nk-nav-logo">
                    <img src="~/assets/images/logo.png" alt="GoodGames" width="199">
                </a>

                <ul class="nk-nav nk-nav-center d-none d-md-table-cell" data-nav-mobile="#nk-nav-mobile">

                    <li class=" nk-drop-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class=" nk-drop-item">
                        <a asp-area="" asp-controller="Games" asp-action="Index">Games</a>
                    </li>
                    <li class=" nk-drop-item">
                        <a asp-controller="Store" asp-action="Index">Store</a>
                    </li>
                    <li class=" nk-drop-item">
                        <a asp-controller="Store" asp-action="StoreProduct">Product</a>
                    </li>
                    <li class=" nk-drop-item">
                        <a asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>
                </ul>
                <ul class="nk-nav nk-nav-right nk-nav-icons">

                    <li class="single-icon d-lg-none">
                        <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <!-- START: Top Contacts -->
            <div class="nk-contacts-top">
                <div class="container">
                    <div class="nk-contacts-left">
                        <ul class="nk-social-links">
                            <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                            <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                            <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                            <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>
                        </ul>
                    </div>
                    <div class="nk-contacts-right">
                        <ul class="nk-contacts-icons">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#modalSearch">
                                    <span class="fa fa-search"></span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Login" asp-action="Login">
                                    <span class="fa fa-user"></span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Store" asp-action="StoreCart" asp-route-id="0">
                                    <span class="nk-cart-toggle">
                                        <span class="fa fa-shopping-cart"></span>
                                        @*<span class="nk-badge"></span>*@
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Top Contacts -->

            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FowlerSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

        <!-- END: Login Modal -->
        <!-- START: Scripts -->
        <!-- Paper Kit Assets-->
        <script src="~/assets/js/paper-kit.js"></script>
        <script src="~/assets/js/plugins/bootstrap-switch.js"></script>
        <script src="~/assets/js/plugins/nouislider.min.js"></script>
        <script src="~/assets/js/plugins/moment.min.js"></script>

        <!-- Object Fit Polyfill -->
        <script src="~/assets/vendor/object-fit-images/dist/ofi.min.js"></script>

        <!-- GSAP -->
        <script src="~/assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
        <script src="~/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

        <!-- Popper -->
        <script src="~/assets/vendor/popper.js/dist/umd/popper.min.js"></script>

        <!-- Bootstrap -->
        <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Sticky Kit -->
        <script src="~/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

        <!-- Jarallax -->
        <script src="~/assets/vendor/jarallax/dist/jarallax.min.js"></script>
        <script src="~/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

        <!-- imagesLoaded -->
        <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

        <!-- Flickity -->
        <script src="~/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

        <!-- Photoswipe -->
        <script src="~/assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
        <script src="~/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

        <!-- Jquery Validation -->
        <script src="~/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

        <!-- Jquery Countdown + Moment -->
        <script src="~/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
        <script src="~/assets/vendor/moment/min/moment.min.js"></script>
        <script src="~/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
        <script src="~/assets/js/plugins/bootstrap-datepicker.js"></script>

        <!-- Hammer.js -->
        <script src="~/assets/vendor/hammerjs/hammer.min.js"></script>

        <!-- NanoSroller -->
        <script src="~/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

        <!-- SoundManager2 -->
        <script src="~/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

        <!-- Seiyria Bootstrap Slider -->
        <script src="~/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

        <!-- Summernote -->
        <script src="~/assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

        <!-- nK Share -->
        <script src="~/assets/plugins/nk-share/nk-share.js"></script>

        <!-- Parsley (For Games Title Validation/Sanitation) -->
        <script src="~/assets/js/parsley.js"></script>

        <!-- GoodGames -->
        <script src="~/assets/js/goodgames.min.js"></script>
        <script src="~/assets/js/goodgames-init.js"></script>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
