@model DataAccessLibrary.Models.Order

<header>Orders</header>
<div class="row">
    <div class="col text-left">
        <a class="btn btn-sm btn-primary" asp-controller="OrderLine" asp-action="Create">Create New</a>
    </div>
</div>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th class="text-primary">Product Name</th>
            <th class="text-primary">Price</th>
            <th class="text-primary">Payment Type</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="6" class="text-center">No OrderLine Data</td></tr>
        }
        else
        {
            @foreach (var o in Model.Lines)
            {
                <tr>
                    <td>@o.Game</td>
                    <td>@o.Game.Price</td>
                    <td>@o.PaymentType</td>
                </tr>
            }
        }
    </tbody>
</table>