@model DataAccessLibrary.Models.User

@{
    ViewData["Title"] = "Create";
}

<!--Removes footer and second backgroun from page-->
<style type="text/css">
    .error {
        color: red;
    }

    .nk-page-background-bottom {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<body>
    <div class="nk-feature-1 mt-100">
        <div class="nk-feature-cont mx-auto w-75">

            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Create</span> User Account</span></h3>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                    <div class="col-12">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </form>
        </div>
    </div>
</body>

<div>
    <a asp-action="Index">Back to List</a>
</div>

