@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-main">

    <div class="nk-gap-2"></div>

    <div class="container">
        <div class="nk-feature-1">
            <div class="col-12 nk-feature-cont">
                <h2 class="text-center text-main-1">Welcome to GoodGames</h2>
                <h3 class="text-center">Where we can handle all of your gaming needs!</h3>

                <strong>
                    Our team consists of 4 amazing developers. Those being Casey, Dominic, Anthony, and Michael. We're here to make sure
                    that whatever it is that your after with your gaming needs, we can provide. Whether it's our blog links, or just a simple
                    picture of games, we want to be able to provide it.
                </strong>
                <br />
                <strong>
                    By using our contact form below we will be able to provide you with any assistance to any questions or concerns you may have.
                </strong>
            </div>
        </div>

        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Meet</span> the Team</span></h3>
        <div class="row vertical-gap">

            <div class="col-lg-6 col-sm-12">
                <div class="nk-feature-2">
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title text-main-1">Casey</h3>
                    </div>
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/Casey.png" alt="casey.png" width="250" class="img-thumbnail contactImages" />
                    </div>
                    <div class="nk-feature-cont">
                        <h4 class="nk-feature-title">sojdenfr sije foiwujenfuaswfghbdag sddj  hbsdhf</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="nk-feature-2">
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title text-main-1">Anthony</h3>
                    </div>
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/Anthony.jpg" alt="anthony.jpg" width="250" class="img-thumbnail contactImages" />
                    </div>
                    <div class="nk-feature-cont">
                        <h4 class="nk-feature-title">sojdenfr sije foiwujenfuaswfghbdag sddj  hbsdhf</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="nk-feature-2">
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title text-main-1">Michael</h3>
                    </div>
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/Michael.jpg" alt="michael.jpg" width="250" class="img-thumbnail contactImages" />
                    </div>
                    <div class="nk-feature-cont">
                        <h4 class="nk-feature-title">sojdenfr sije foiwujenfuaswfghbdag sddj  hbsdhf</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="nk-feature-2">
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title text-main-1">Dominic</h3>
                    </div>
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/Dominic.png" alt="dominic.jpg" width="250" class="img-thumbnail contactImages" />
                    </div>
                    <div class="nk-feature-cont">
                        <h4 class="nk-feature-title">sojdenfr sije foiwujenfuaswfghbdag sddj  hbsdhf</h4>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>

                        <!-- START: Search Modal -->
                        <div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span class="ion-android-close"></span>
                                        </button>

                                        <h4 class="mb-0">Search</h4>

                                        <div class="nk-gap-1"></div>
                                        <form action="#" class="nk-form nk-form-style-1">
                                            <input type="text" value="" name="search" class="form-control" placeholder="Type something and press Enter" autofocus>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Search Modal -->
                        <!-- START: Login Modal -->
                        <div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span class="ion-android-close"></span>
                                        </button>

                                        <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

                                        <div class="nk-gap-1"></div>
                                        <form action="#" class="nk-form text-white">
                                            <div class="row vertical-gap">
                                                <div class="col-md-6">
                                                    Use email and password:

                                                    <div class="nk-gap"></div>
                                                    <input type="email" value="" name="email" class=" form-control" placeholder="Email">

                                                    <div class="nk-gap"></div>
                                                    <input type="password" value="" name="password" class="required form-control" placeholder="Password">
                                                </div>
                                                <div class="col-md-6">
                                                    Or social account:

                                                    <div class="nk-gap"></div>

                                                    <ul class="nk-social-links-2">
                                                        <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                                        <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                                        <li><a class="nk-social-twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="nk-gap-1"></div>
                                            <div class="row vertical-gap">
                                                <div class="col-md-6">
                                                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign In</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mnt-5">
                                                        <small><a href="#">Forgot your password?</a></small>
                                                    </div>
                                                    <div class="mnt-5">
                                                        <small><a href="#">Not a member? Sign up</a></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
